body {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal; 
    text-align: center;
    margin: 0;
    background-color: yellow;

}
h1 {
    font-size: 5rem;
    color: rgb(109, 27, 109)
  }

h2 {
    font-size: 80px;
    color: rgb(109, 27, 109)
}

p {
    font-size: 2.5rem;
    color: blueviolet;
}
    
h3 {
    font-size: 50px;
}

ul {
    font-size: 25px;
}